<div id="wrapper">
<div id="header">
<h1>WARC</h1>
<h2>Web ARChive</h2>
<p>Currently serving <%= @size %> records</p>
</div>

<div>
	<ul>
		<% @index.collect do |uri,offset| %>
		<li><a href="<%=uri%>"><%=uri%></a></li>
		<% end %>
	</ul>
</div>
</div>